/* CSS styles for flower shop webpage */

* {
    margin: 0;
    padding: 0;

    font-family: "Lato", sans-serif;
    font-weight: 400;
}

/* Shared codes */
.btn-main {
    height: 64px;
    min-width: 150px;
    background-color: rgba(229, 84, 115, 1);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

/* Heading Part (this code is shared in Feauted Flower and Instagram sections) */
/* Heading Part */
.heading-part {
    max-width: 594px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;      
    justify-content: center;  
    text-align: center;
}

.heading-h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 24px;
}

.heading-text {
    font-size: 1.125rem;
    line-height: 30px;
    margin-bottom: 48px;
}



/* CSS for individual sections */


/* <!-- Hero Banner Section --> */
 /* Hero Banner Section */
.hero-banner {
    margin: 128px auto 0; /* gap from section above */
    max-width: 1920px;
    background-color: rgba(229, 84, 115, 0.1);


}

/* Inner content width control */
.hero-banner-container {
    max-width: 1440px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
}

/* Text Part */
.hero-banner-text-part {
    max-width: 706px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-banner-text-part .hero-banner-text-heading {
    font-size: 5rem;
    font-weight: 800;
    line-height: 96px;
}


.hero-banner-text-part .hero-banner-text-details {
    font-size: 1.125rem;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin: 32px 0;
}   


/* Image Part */
.hero-banner-image-part img {
    height: 800px;
    width: auto;
}


/* <!-- Featured Flowers Section --> */

.featured-flowers {
    max-width: 1440px;
    margin: 176px auto 0;      
    padding: 0 24px;            
    display: flex;
    flex-direction: column;    
    align-items: center;
}

/* Heading Part */
.heading-part {
    max-width: 594px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;      
    justify-content: center;  
    text-align: center;
}

.heading-h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 24px;
}

.heading-text {
    font-size: 1.125rem;
    line-height: 30px;
    margin-bottom: 48px;
}

/* Featured Flower Cards Wrapper */
.featured-flower-cards {
    max-width: 1440px;
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
}

/* Individual Card */
.featured-individual-card {
    max-width: 464px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: transparent;   
}

/* Image Container */
.img-div {
    width: 100%;
    height: auto;                  
    display: flex;
    justify-content: center;        
    align-items: flex-end;          
    padding-top: 110px;             
    border-radius: 300px 300px 0 0;
    box-sizing: border-box;
}

/* Images */
.img-div img {
    width: auto;
    height: 428px;                  
    object-fit: cover;              
    display: block;
}



/* Different background colors per card */
.featured-individual-card:nth-child(1) .img-div {
    background: rgba(167, 33, 98, 0.15);
}

.featured-individual-card:nth-child(2) .img-div {
    background: rgba(5, 151, 160, 0.15);
}

.featured-individual-card:nth-child(3) .img-div {
    background: rgba(71, 125, 17, 0.15);
}


/* Card Title positioned below img-div */
.card-title {
    color: rgba(39, 39, 39, 1);
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-decoration-line: underline;

    background: #ffffff;       
    padding: 0 16px;           
    display: inline-block;
    border-radius: 4px;

    margin-top: 32px;            
    z-index: 1;
}





/* <!-- Icons Section --> */

.icons-section {
    max-width: 1440px;
    height: 320px;
    margin: 128px auto 0;          
    padding: 0 24px;               
    background-color: #ECECEC;
    display: flex;
    justify-content: center;       
    align-items: center;           
}

/* Icons Container */
.icons-container {
    max-width: 1090px;
    width: 100%;
    display: flex;
    flex-direction: row;           
    justify-content: space-between;
    align-items: center;           
}

/* Each Icon */
.each-icon {
    display: flex;
    flex-direction: column;       
    align-items: center;           
    gap: 24px;                  
}

/* Icon Image */
.icon-img img {
    width: 88px;
    height: 88px;
    object-fit: contain;
    display: block;
}

/* Icon Text */
.icon-text {
    font-size: 1.5rem;
    font-weight: 600;              
    line-height: 1.2;
    text-align: center;            
    margin: 0;                    
}


/* <!-- Hot Deals Section --> */
/* Hot Deals Section */
.hot-deals {
    width: 1920px;
    margin: 128px auto 0;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 215px;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

/* Text Part */
.hot-deals-text-part {
    max-width: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hot-deals-text-part .hot-deals-text-heading {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;   
}

.hot-deals-text-part .hot-deals-text-details {
    color: rgba(39, 39, 39, 0.6);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center; 
    margin-top: 24px;
    margin-bottom: 24px;  
}

/* Image Part */
.hot-deals-image-part img {
    max-height: 420px;
    width: auto;
}


/* <!-- Instagram Section  --> */

.instagram-section {
    max-width: 1440px;
    margin: 128px auto 0;
    padding: 0 24px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}


/* Instagram Cards */
.instagram-cards {
    max-width: 1440px;
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
}

/* Images */
.instagram-cards img {
    max-height: 396px;
    width: auto;
    object-fit: cover;
    display: block;
}


/* <!-- Latest Deals Section  --> */
/* Latest Deals Section */
.latest-deals {
    margin: 128px auto 0; /* gap from section above */
    max-width: 1440px;
    height: 450px;
    background-image: url("../assets/Rectangle-9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.latest-deals .section-title {
    font-size: 2.5rem;
    font-weight: 800;
}

.latest-deals .section-text {
    font-size: 1.125rem;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 16px;
}

/* Content inside Latest Deals */
.latest-deals > * {
    max-width: 886
}

/* Form styling */
.latest-deals form {
    display: flex;
    gap: 10px;
    margin-top: 24px;
}

/* Input field */
.latest-deals form input[type="text"] {
    height: 64px;
    padding: 0 20px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 4px;
    min-width: 500px;
}


/* Footer Section */

footer {
    max-width: 1920px;
    height: 450px;
    background: rgba(17, 16, 16, 1);

    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    text-align: center;
}

.footer-heading {
    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 24px;
}

.color-pink {
    color: rgba(229, 84, 115, 1);
    font-size: inherit;
    font-weight: inherit;
}

.footer-text {
    font-size: 1.125rem;
    line-height: 30px;
    color: #ffffff;
    max-width: 675px;
    margin-bottom: 32px;
}

.footer-copyright {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.4);
}
